<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <style>
    body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  </style>
  <body>
    <%- include("./partials/nav.ejs") %>
    <div class="top-container">
      <div class="search-container">
        <div class="search-box">
          <input type="text" placeholder="search" />
        </div>
        <div class="search-results-container">
          <div class="manual-entry-form-container">
            <form action="/index" method="post" class="enter-place">
              <!-- <label>geonameid<input type="text" name="geonameid" /></label> -->
              <label>city<input type="text" name="city" /></label>
              <label>country<input type="text" name="country" /></label>
              <!-- <label>urban_area<input type="text" name="urban_area" /></label> -->
              <!-- <label>population<input type="text" name="population" /></label> -->
              <!-- <label>coordinates<input type="text" name="coordinates" /></label> -->
              <label>desktop_img<input type="url" name="desktop_img" /></label>
              <!-- <label>mobile_img<input type="text" name="mobile_img" /></label> -->
              <label
                >status
                <select name="status">
                  <option value="Visited">Visited</option>
                  <option value="Going">Going</option>
                  <option value="Want to go">Want to go</option>
                </select>
              </label>
              <label>date<input type="date" name="date" /></label>
              <!-- <label>creator<input type="text" name="creator" /></label> -->
              <button>Submit</button>
            </form>
          </div>
        </div>
      </div>
      <div class="collection-container">
        <% for (i=allCities.length-1; i>=0; i--) { %>

        <div class="collection-item">
          <div class="city-photo">
            <img src="<%= allCities[i].mobile_img %>" alt="" />
          </div>
          <div class="city-action-container">
            <div class="action-block">
              <a href="/index/<%= allCities[i]._id %>">
                <div class="city-name-container">
                  <div class="city-full-name"><%= allCities[i].city %>, <%= allCities[i].country %></div>
                </div>
              </a>

              <div class="location-stats">
                <table class="location-stats-table">
                  <tr>
                    <td>Population</td>
                    <td>1,234,567</td>
                  </tr>
                  <tr>
                    <td>Status</td>
                    <td>VISITED on 2024-01-12</td>
                  </tr>
                </table>
              </div>

              <div class="buttons-container">
                <a href="/index/<%= allCities[i]._id %>/edit" class="edit-button"> Edit </a>
                <div class="delete-button">
                  <button>Delete</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <% } %>
      </div>
    </div>

    <!-- <div class="search-result">
        <div class="city-photo">
          <img src="https://d13k13wj6adfdf.cloudfront.net/urban_areas/dallas-a55f677457.jpg" />
        </div>
        <div class="city-full-name">Dallas</div>
      </div>  -->
  </body>
  <%- include("./partials/footer.ejs") %>
</html>
