<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <div class="search-container">
      <input type="text" placeholder="search" />
    </div>
    <div class="search-results-container">
      <% for (i=0; i< allCities.length; i++) { %>
      <a href="/index/<%= allCities[i]._id %>">
        <div class="search-result">
          <div class="city-photo">
            <img src="<%= allCities[i].mobile_img %>" alt="" />
          </div>
          <div class="city-full-name-container">
            <div class="city-full-name"><%= allCities[i].city %>, <%= allCities[i].country %></div>
          </div>
        </div>
      </a>
      <% } %>

      <!-- <div class="search-result">
        <div class="city-photo">
          <img src="https://d13k13wj6adfdf.cloudfront.net/urban_areas/dallas-a55f677457.jpg" />
        </div>
        <div class="city-full-name">Dallas</div>
      </div>  -->
    </div>
  </body>
</html>
