<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <style>
    body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  </style>
  <body>
    <%- include("./partials/nav.ejs") %>
    <div class="top-container">
      <div class="search-container">
        <div class="manual-entry-form-container">
          <input type="checkbox" id="acc" />
          <label class="tab-label" for="acc">Add a place</label>
          <div class="manual-entry-form">
            <form action="/index" method="post" class="enter-place">
              <div class="writing-part">
                <label>City:<input type="text" name="city" id="form-city" /></label>
                <label>Country: <input type="text" name="country" id="form-country" /></label>
                <label>Photo: <input type="url" name="photo_url" id="form-photo_url" /></label>
                <label
                  >Status
                  <select name="status" id="custom-search">
                    <option value="Visited">Visited</option>
                    <option value="Going">Going</option>
                    <option value="Want to go">Want to go</option>
                  </select>
                </label>
                <label>Date<input type="date" name="date" /></label>
              </div>
              <button class="manual-entry-submit-button">Submit</button>
            </form>
          </div>
        </div>

        <div class="search-results-container">
          <div class="search-results-div"></div>
        </div>
      </div>
      <div class="collection-container">
        <% for (i=allCities.length-1; i>=0; i--) { %>

        <div class="collection-item">
          <div class="city-photo">
            <img src="<%= allCities[i].photo_url %>" alt="" />
          </div>
          <div class="city-action-container">
            <div class="action-block">
              <a href="/index/<%= allCities[i]._id %>">
                <div class="city-name-container">
                  <div class="city-full-name"><%= allCities[i].city %>, <%= allCities[i].country %></div>
                </div>
              </a>

              <div class="location-stats">
                <table class="location-stats-table">
                  <tr>
                    <td>Status</td>
                    <td><%= allCities[i].status %></td>
                  </tr>
                  <tr>
                    <td>Date</td>
                    <td><%= allCities[i].date %></td>
                  </tr>
                </table>
              </div>

              <div class="buttons-container">
                <a href="/index/<%= allCities[i]._id %>/edit" class="edit-button"> Edit </a>
                <div class="delete-button">
                  <form class="index-form" action="/index/<%=allCities[i]._id %>?_method=DELETE" method="post">
                    <input type="submit" value="Delete" id="delete-location" />
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <% } %>
      </div>
    </div>
  </body>
  <%- include("./partials/footer.ejs") %>
  <script>
    function checkUserLogin() {
      const $userName = $("#user-name");
      console.log($userName.html());
      if ($userName.html() === "") {
        console.log(`no user`);
        $(".hello-user").addClass("hidden");
        $(".log-out").addClass("hidden");
      } else {
        console.log(`user is: ${$userName}`);
        $(".sign-up").addClass("hidden");
        $(".log-in").addClass("hidden");
      }
    }

    checkUserLogin();
  </script>
</html>
