<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <style>
    body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  </style>
  <body>
    <%- include("./partials/nav.ejs") %>
    <div class="top-container">
      <div class="search-container">
        <div class="search-box">
          <input type="text" placeholder="search" id="search-field" />
        </div>
        <div class="search-results-container">
          <div class="search-results-div"></div>
        </div>
      </div>
      <div class="collection-container">
        <% for (i=allCities.length-1; i>=0; i--) { %>

        <div class="collection-item">
          <div class="city-photo">
            <img src="<%= allCities[i].mobile_img %>" alt="" />
          </div>
          <div class="city-action-container">
            <div class="action-block">
              <a href="/index/<%= allCities[i]._id %>">
                <div class="city-name-container">
                  <div class="city-full-name"><%= allCities[i].city %>, <%= allCities[i].country %></div>
                </div>
              </a>

              <div class="location-stats">
                <table class="location-stats-table">
                  <tr>
                    <td>Population</td>
                    <td><%= allCities[i].population.toLocaleString() %></td>
                  </tr>
                  <tr>
                    <td>Status</td>
                    <td><%= allCities[i].status %></td>
                  </tr>
                  <tr>
                    <td>Date</td>
                    <td><%= allCities[i].date %></td>
                  </tr>
                </table>
              </div>

              <div class="buttons-container">
                <a href="/index/<%= allCities[i]._id %>/edit" class="edit-button"> Edit </a>
                <div class="delete-button">
                  <form class="index-form" action="/index/<%=allCities[i]._id %>?_method=DELETE" method="post">
                    <input type="submit" value="Delete" id="delete-location" />
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <% } %>
      </div>
    </div>
  </body>
  <%- include("./partials/footer.ejs") %>
</html>
